@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.inner-info-area {
  background-color: #f6f9ff;
  padding-top: 100px;
  display: grid;
  place-items: center;
  .services-container_grid{
    // width: 100%;
    padding: 0 70px;
    @include respond-to("extra_large_desktop") {
      max-width: 1320px;
    }
    @include respond-to("phone") {
      padding: 0 20px;
    }
    @include respond-to("small_phone") {
      padding: 0 20px;
    }
  
  .inner-info-title-box {
    margin-bottom: 90px;
    @include respond-to("desktop_large") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("desktop") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("large_tablet") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("small_tablet") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("tablet") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("phone") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    .inner-info-title h4{
      font-weight: 300;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.01em;
      color: $black;
      font-family: $primary-fonts;
      @include respond-to("large_tablet") {
        font-size: 29px;
        line-height: 40px;
      }
      @include respond-to("small_tablet") {
        font-size: 29px;
        line-height: 40px;
      }
      @include respond-to("tablet") {
        font-size: 29px;
        line-height: 40px;
      }
      @include respond-to("phone") {
        font-size: 29px;
        line-height: 40px;
      }
    }
  }
}
  .services-container_wrapper {
    width: 100%;
    padding: 0 70px;
    @include respond-to("extra_large_desktop") {
      max-width: 1320px;
    }
    @include respond-to("small_phone") {
     padding: 20px;
    }
  }
}
