@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.skills_container {
  padding: 9rem 14rem;
  padding-bottom: 2rem;

  @include respond-to("desktop"){
    padding:  4rem;
    padding-bottom: 2rem;
  }

  @include respond-to("large_tablet"){
    padding:  4rem;
    padding-bottom: 2rem;
  }
  
  @include respond-to("small_tablet"){
    padding:  3rem;
    padding-bottom: 2rem;
  }
  
  @include respond-to("phone"){
    padding:  2rem;
    padding-bottom: 2rem;
  }

  &_title {
    font-weight: 300;
    line-height: 68px;
    letter-spacing: -0.01em;
    color: $black;
    font-family: $primary-fonts;
    margin-bottom: 8rem;

    h4 {
      font-size: 56px;
      line-height: 64px;
      font-weight: 400;
    }
    
    @include respond-to("large_tablet") {
      font-size: 29px;
      line-height: 40px;
    }
    
    @include respond-to("small_tablet") {
      font-size: 29px;
      line-height: 40px;
    }
    
    @include respond-to("tablet") {
      font-size: 29px;
      line-height: 40px;
    }
    
    @include respond-to("phone") {
      font-size: 29px;
      line-height: 40px;
    }
  }

  &_grid {
    &_col-left {
      display: flex;
      align-items: flex-start;
      margin-bottom: 5rem;

      .left-title {
        .section_boxes_title {
          display: flex;
          align-items: center;          
          gap: 0.4rem;

          svg{
            font-size: 20px;
          }

          h4 {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
          }
        }
      }

    }
      
    &_col-right {
      margin-bottom: 5rem;
    }
  }
}