@import "../../../styles/variables";

.contact-category {
  &-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    color: $black;
    font-family: $dr-font-family;
    margin-bottom: 30px;
  }
}

.contact-category label {
  // border: 1px solid rgba(2, 11, 24, .1);
  color: $black;
}

.contact-category label.active {
  color: $white;
  background-color: $black;
  border-color: $black;
  cursor: pointer;
}
.contact-category-btn {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  display: inline-block;
  border: 1px solid rgba(2, 11, 24, 0.1);
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  color: $black;
  margin-right: 12px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.contact-category-wrapper input {
  display: none;
}
.contact-category-btn.active {
  /* Add your desired styles here, e.g., background color, text color, border, etc. */
  background-color: #007bff; /* Example blue background */
  color: white;
}
.contact-category a.active,
.contact-category a:hover,
.contact-category button.active,
.contact-category button:hover,
.contact-category label.active,
.contact-category label:hover {
  color: $white;
  background-color:$black;
  border-color: $black;
  cursor: pointer;
}
