@import "../../../styles/variables";

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  .cursor-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 100000000000;
    background-color: transparent;
    border-radius: 50%;
  }
}
