@import '../../../styles/variables';
@import '../../../styles/animations';
@import '../../../styles/mixins';

.brand-area{
    background-color: #f6f9ff;
    padding: 70px 85px 120px;
    @include respond-to("small_phone") {
        padding: 70px 25px 120px;
      }
    .btn-brand{
        color: $black;
        line-height: 50px;
        transition: .3s;
        text-align: center;
        padding: 15px 25px;
        font-size: 28px;
        border-radius: 1000px;
        border: 1px solid rgba(2,2,30,.1);
        font-family: $dr-font-family;
        &:hover{
            background-color: $black;
            color: $white;
        }
    }
}
