@import "../../../../styles/variables";

.price-btn-box {
  .btn-price-white {
    text-decoration: none;
    background-color: $black;
    color: $white;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
    padding: 0 80px;
    font-family: $dm-font-family;
    div {
      line-height: 1;
      display: inline-block;
      overflow: hidden;
      transform: translateY(7px);
      height: 22px;
      span {
        display: block;
        transition: transform 0.2s ease-out;
        text-shadow: 0 22px 0 $white;
      }
    }
    &:hover div span {
      // Target nested element on hover
      transform: translateY(-122%);
    }
  }
}
