@import "../../../../../styles//mixins";

.testimonial-area {
  background-color: #f6f9ff;
  padding: 100px 2rem 100px;
  display: grid;
  place-items: center;

  @include respond-to("phone") {
    padding: 0px 1rem 100px;
  }

  @include respond-to("small_phone") {
    padding: 0px 1rem 100px;
  }

  .testimonial-container {
    width: 100%;

    @include respond-to("extra_large_desktop") {
      max-width: 1320px;
    }
  }
}
