@import "../../../../../styles/mixins";

.testimonial_container {
  padding: 2rem 8rem;
  margin: 0 auto;
  margin-bottom: 4rem;

  @include respond-to("phone") {
    padding: 2rem 8rem;
  }

  @include respond-to("small_phone") {
    padding: 2rem 8rem;
  }
}
