@import "./fonts";

//colors
$white: #FFFFFF;
$black: #000;
$purple-dark:#192553;
$purple:#4c40f7;
$dark-bg: #162251;
$background_bg: #f6f9ff;
$mobile-nav:#f2f5fb;
$text-body:hsla(0, 0%, 100%, .7);
$text-para: #9ca3aa;
$light-grey: hsla(0, 0%, 100%, .1);
$progress-bar-placeholder: rgba(0,19,47,.1);
$off-white: #f6f9ff;
$box-bg-type-one:#2d3866;
$shadow-type-one: #172351;

//fonts
$rondal-font: 'Rondal', sans-serif;
$bungee-font: 'BungeeShade', cursive;
$dm-font-family: 'DMSans', sans-serif;
$primary-fonts: "EB Garamond", serif;
$arbil-font-family : "Abril Fatface", 'cursive';
$erb-font-family: "EB Garamond", serif;

//shadows
$shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-one: 0 -8px 0 0 $shadow-type-one;
$box-shadow-three: 0 8px 0 0 $shadow-type-one;
$box-shadow-two:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;