
//colors
$white: #FFFFFF;
$black: #000;
$purple-dark:#192553;
$purple:#4c40f7;
$background_bg: #f9f9ff;

$dr-font-family: "Didone right", serif;
$dm-font-family: "DM Sans", sans-serif;
$arbil-font-family : "Abril Fatface", 'cursive';

//shadows
$shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;