@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Bungee+Shade&display=swap');

//colors
$white: #FFFFFF;
$black: #000;
$purple-dark:#192553;
$purple:#4c40f7;
$dark-bg: #162251;
$background_bg: #f6f9ff;

$dr-font-family: "Didone right", serif;
$bungee-font: "Bungee Shade", sans-serif;
$dm-font-family: "DM Sans", sans-serif;
$arbil-font-family : "Abril Fatface", 'cursive';

//shadows
$shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;