@import "../../../../styles/variables";
@import "../../../../styles/animations";
.funfact-area {
  background-color: #f6f9ff;
  padding: 110px 85px 60px 85px;
  background-image: url(/assets/funfact-bg-1-2.jpg);
  width: calc(100% - 200px);
  top: 0;
  left: 100px;
  border-radius: 20px;
  height: 190%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  .funfact-item {
    position: relative;
    &.space-left-1 {
      padding-left: 100px;
      .funfact-number {
        margin-bottom: 25px;
        span {
          height: 110px;
          width: 110px;
          font-weight: 500;
          font-size: 64px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          background: hsla(0, 0%, 100%, 0.06);
          border: 1px solid hsla(0, 0%, 100%, 0.09);
          box-shadow: 0 20px 50px rgba(3, 3, 20, 0.4);
          backdrop-filter: blur(5.5px);
          border-radius: 20px;
          display: inline-block;
          line-height: 110px;
          color: $white;
          font-family: $dr-font-family;
        }
      }
    }
    .funfact-title {
      font-weight: 300;
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: 0;
      color: $white;
      font-family: $dr-font-family;
      width: 200px;
    }
  }
}
