@import "../../../styles/variables";
.footer-bg {
  background-color: #e7eaf0;
  z-index: 1;
  overflow: hidden;
  .footer-circle-1 {
    position: absolute;
    top: -230px;
    left: -80px;
    span {
      height: 511px;
      width: 511px;
      border-radius: 50%;
      background: rgba(244, 190, 27, 0.14);
      filter: blur(150px);
      display: inline-block;
    }
  }
  .footer-circle-2 {
    position: absolute;
    bottom: 170px;
    right: 230px;
    z-index: -1;
    span {
      height: 462px;
      width: 462px;
      border-radius: 50%;
      background: rgba(132, 153, 78, 0.3);
      filter: blur(190px);
      display: inline-block;
    }
  }
  .footer-circle-3 {
    position: absolute;
    top: 59%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    span {
      height: 1550px;
      width: 1550px;
      border-radius: 50%;
      background: linear-gradient(
        179deg,
        hsla(0, 0%, 100%, 0.48) 1.05%,
        hsla(0, 0%, 100%, 0) 65.75%
      );
      display: inline-block;
    }
  }
  .footer-title {
    font-weight: 500;
    font-size: 100px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: $black;
    font-family: $dr-font-family;
    margin-bottom: 120px;
    text-transform: capitalize;
  }

  .footer-social-item {
    padding-top: 20px;
    position: relative;
    transition: 0.3s;
    min-height: 95px;
    border-top: 1px solid $black;
    .footer-anim-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }
    .footer-social-text span {
      font-weight: 500;
      font-size: 26px;
      letter-spacing: -0.01em;
      color: $black;
      display: block;
      font-family: $dm-font-family;
      transition: 0.3s;
      &.child-2 {
        font-weight: 500;
        font-size: 14px;
        font-family: $dm-font-family;
      }
    }
    .footer-social-icon span {
      height: 46px;
      width: 46px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      line-height: 43px;
      background-color: $black;
      color: $white;
      transition: 0.3s;
    }
    &:hover {
      border-color: $white;
      padding: 20px 20px 18px;
      .footer-social-icon span {
        background-color: $white;
        color: $black;
      }
      .footer-social-text span.child-1 {
        color: $white;
      }
      .footer-social-text span.child-2 {
        color: hsla(0, 0%, 100%, 0.6);
      }
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      content: "";
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      background-color: $black;
    }
    &:hover:after {
      background-color: $black;
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
  }
}

.footer-btn-box {
  margin-bottom: 110px;
  .footer-btn {
    .btn-black-xl {
      height: 120px;
      line-height: 120px;
      border-radius: 100px;
      padding: 0 20px;
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      text-transform: capitalize;
      display: inline-block;
      overflow: hidden;
      letter-spacing: -0.01em;
      color: $white;
      background-color: $black;
      font-family: $dm-font-family;
      div {
        line-height: 1;
        display: inline-block;
        overflow: hidden;
        transform: translateY(7px);
        height: 32px;
        span {
          display: block;
          transition: transform 0.2s ease-out;
          text-shadow: 0 30px 0 $white;
        }
      }
      &:hover div span {
        transform: translateY(-112%);
      }
    }
    .btn-grey-xl {
      height: 120px;
      line-height: 120px;
      border-radius: 100px;
      padding: 0 20px;
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      text-transform: capitalize;
      display: inline-block;
      overflow: hidden;
      letter-spacing: -0.01em;
      color: $black;
      background-color: $white;
      font-family: $dm-font-family;
      div {
        line-height: 1;
        display: inline-block;
        overflow: hidden;
        transform: translateY(7px);
        height: 32px;
        span {
          display: block;
          transition: transform 0.2s ease-out;
          text-shadow: 0 30px 0 $black;
        }
      }
      &:hover div span {
        transform: translateY(-112%);
      }
    }
  }
}

.copyright-content-left p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(37, 37, 37, 0.5);
  font-family: $dm-font-family;
  span {
    color: $black;
  }
}
.copyright-content-right span {
  font-weight: 500;
  font-size: 14px;
  color: rgba(37, 37, 37, 0.5);
  position: relative;
  font-family: var(--tp-ff-dmsans);
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background-color: #a9a0a0;
    content: "";
  }
}
