* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --pw-ff-body: "Poppins", sans-serif;
  --pw-text-body: #55585b;
  --bs-body-bg: #ffff;
  --common-black: #171718;
  --common-white: #ffff;
  --text-blue: #4c40f7;
  --common-dark-bg: #162251;
  --text-Didone-right: "Didone right", serif;
  --ff-DM-Sans: "DM Sans", sans-serif;
  --digon-serif: "Didone", sans-serif;
  --bs-gutter-x: "50px" !important;
  --Ofcanvas-width: 100% !important;
  --scale-factor: 0.7;
}

.gx-50 {
  --bs-gutter-x: 50px !important;
}
body {
  font-family: var(--pw-ff-body);
  /* font-size: 14px; */
  font-weight: 400;
  color: var(--pw-text-body);
  line-height: 26px;
  background-color: var(--bs-body-bg);
  cursor: pointer;
}

a,
button {
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.header-3 {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 35px;
}

.header-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}
/* Home area  */

.home-area {
  background-color: #f6f9ff;
}
.home-ptb {
  padding-top: 200px;
  padding-bottom: 225px;
}

.shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
  mix-blend-mode: color-burn;
}
.shape-1 img {
  opacity: 0.5;
}

.shape-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
  mix-blend-mode: color-burn;
}
.shape-2 img {
  opacity: 0.5;
}

.header-scrool-down {
  position: absolute;
  bottom: 80px;
  left: 100px;
  transition: margin-top 2s ease-in-out;
}
.header-scrool-down {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-scrool-down .text {
  color: var(--common-black);
}
.header-scrool-down .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  margin-bottom: 30px;
}
.header-scrool-down span svg {
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
}
.header-scrool-down span svg {
  animation: down_scroll 3s infinite;
}

.header__title {
  font-family: var(--text-Didone-right);
  font-style: normal;
  font-weight: 600;
  font-size: 180px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--common-black);
  margin-bottom: 25px;
}

.animated-letter {
  position: relative;
  display: inline-block;
  animation: slideRightToLeft 1s ease forwards;
  opacity: 0;
  animation-fill-mode: forwards; /* Keeps the last frame of the animation */
}

.header__title span {
  width: 260px;
  height: 146px;
  display: inline-block;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  transform: translateY(12px);
}

.header__title span video {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 30px;
  transform-origin: top right;
  transform: translateY(-1px) scale(0.15);
}

.home-btn a {
  /* margin-right: 30px; */
  flex: 0 0 auto;
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-60px);
  }
  40% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.btn-blue {
  height: 68px;
  line-height: 68px;
  border-radius: 100px;
  padding: 0 24px 0 37px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  overflow: hidden;
  letter-spacing: -0.01em;
  color: var(--common-white);
  background-color: transparent;
  font-family: var(--ff-DM-Sans);
  z-index: -1;
  text-decoration: none;
  animation: bounce2 2s ease;
}
.btn-blue {
  color: var(--common-white);
  box-shadow: inherit;
}

.btn-blue:hover {
  color: var(--text-blue);
  text-decoration: underline;
}

.btn-blue span.text {
  position: relative;
  margin-left: 0;
}
.btn-blue span.text:after {
  background-color: var(--text-blue);
}
.btn-blue span.text:after,
.btn-blue:after {
  position: absolute;
  content: "";
  right: 0;
  width: 100%;
  background-color: var(--common-white);
  z-index: -1;
}
.btn-blue span.text:after {
  bottom: 0;
  height: 1px;
}
.btn-blue span {
  margin-left: 50px;
}
.btn-blue span svg {
  color: var(--common-white);
  font-size: 25px;
}
.btn-blue:hover {
  color: var(--common-black);
}
.btn-blue:after {
  background-color: var(--text-blue);
}
.btn-blue:hover:after {
  width: 70px;
}
.btn-blue:after {
  top: 0;
  height: 68px;
  border-radius: 100px;
  transition: all 0.3s ease-out;
}

.homebtn-box p {
  font-family: var(--ff-DM-Sans);
  margin-bottom: 0;
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #45495a;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply staggered animation delays */
.animated-letter:nth-child(1) {
  animation-delay: 0s;
}

.animated-letter:nth-child(2) {
  animation-delay: 0.1s;
}

.animated-letter:nth-child(3) {
  animation-delay: 0.2s;
}

.animated-letter:nth-child(4) {
  animation-delay: 0.3s;
}

.animated-letter:nth-child(5) {
  animation-delay: 0.4s;
}

.animated-letter:nth-child(6) {
  animation-delay: 0.5s;
}

.animated-letter:nth-child(7) {
  animation-delay: 0.6s;
}

.animated-letter:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes down_scroll {
  0% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(10px);
  }
  100%,
  0% {
    transform: translateY(0px);
  }
}

/* service  CSS */
.service-overlay-bg {
  position: relative;
}

.service-circle-img {
  position: absolute;
  top: 0;
  right: 315px;
}

.service-circle-img .text-img {
  display: inline-block;
  transform: translate(10px, -70px);
}

.service-circle-img .text-img img {
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
}
.service-circle-img .text-img img {
  animation: animationglob 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
}

.service-circle-img .shape {
  position: absolute;
  left: 0;
  top: -1px;
  left: -50%;
  z-index: -1;
}
.service-circle-img .shape svg {
  color: #f6f9ff;
}

.black-bg-2 {
  background-color: var(--common-dark-bg);
}
.z-index-1 {
  z-index: 1;
}

.service-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.service-shape-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.service-shape-3 {
  position: absolute;
  top: 43%;
  left: 35%;
  z-index: -1;
}

.section-subtitle {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 1;
  color: var(--common-white);
  font-family: var(--text-Didone-right);
  display: inline-block;
}
.service-title-box p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: hsla(0, 0%, 100%, 0.7);
}

.section-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--common-white);
  font-family: var(--text-Didone-right);
  margin-bottom: 25px;
}

.service-right-wrap {
  padding-left: 70px;
}

.service-item {
  background: #2d3866;
  border-radius: 30px;
  display: inline-flex;
  padding: 60px 70px;
  box-shadow: 0 -8px 0 0 #172351;
}

.service-content-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1;
  color: var(--common-white);
  margin-bottom: 16px;
  font-family: var(--digon-serif);
}
.service-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: hsla(0, 0%, 100%, 0.7);
  margin-bottom: 28px;
}

.service-content-tag span {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 100px;
  display: inline-block;
  height: 30px;
  line-height: 29px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
}

.stack__card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 380px;
  width: 606px;
  position: sticky;
  top: 100px;
}

.stack_card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  position: sticky;
  top: 100px    ;
  /* transform: scale(var(--scale-factor)); */
}

img{
  max-width: 100%;
}
.stack_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
  /* transition: transform 0.5s ease; */
}

.service-btn-box a {
  height: 56px;
  line-height: 56px;
  background: #4c40f7;
  border-radius: 30px;
  width: 100%;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: hsla(0, 0%, 100%, 0.7);
}

.service-btn-box a span {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}

.service-overlay-bg:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  mix-blend-mode: hard-light;
  z-index: -1;
}

/* project css */

.black-bg-3 {
  background-color: #f6f9ff;
}

.project-area .section-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--common-black);
  font-family: var(--text-Didone-right);
  margin-bottom: 25px;
}

/* blog css  */
.blog-area .section-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--common-black);
  font-family: var(--text-Didone-right);
  margin-bottom: 25px;
}

.blog-item {
  padding-top: 30px;
  border-top: 1px solid rgba(228, 234, 255, 0.2);
  position: relative;
}
.blog-content-title {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  color: var(--common-white);
  font-family: var(--text-Didone-right);
  margin-bottom: 50px;
  display: inline-block;
}
.blog-item {
  border-top: 1px solid rgba(17, 17, 20, 0.12);
}
.blog-item:after {
  background-color: var(--common-black);
  position: absolute;
  content: "";
  top: 0;
  left: auto;
  height: 1px;
  width: 0;
  right: 0;
  transition: 0.4s;
}
.blog-item:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.blog-content-title a {
  background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  display: inline;
  color: var(--common-black);
  background-size: 0 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s linear;
  text-decoration: none;
}

.blog-content-title:hover a {
  background-size: 0 1px, 100% 1px;
}
.blog-category span {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #4e4e53;
  height: 36px;
  line-height: 34px;
  mix-blend-mode: luminosity;
  border: 1px solid rgba(17, 17, 20, 0.12);
  border-radius: 20px;
  display: inline-block;
  padding: 0 23px;
}

.blog-meta span {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #4e4e53;
}

.blog-meta span {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #4e4e53;
}

.blog-meta span:last-child {
  margin-left: 175px;
}
.blog-thumb,
.blog-thumb img {
  border-radius: 20px;
  transition: all 0.3s ease-out;
  width: 100%;
}
.blog-item:hover .blog-thumb img {
  transform: scale(1.1);
}

.blog-thumb {
  overflow: hidden;
}

/* footer css  */
.footer-subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  color: #e7ecff;
  position: absolute;
  top: 11px;
  left: 0;
}

.footer-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer-img {
  position: absolute;
  bottom: 0;
  right: 160px;
  z-index: -1;
  mix-blend-mode: luminosity;
}

.footer-title-box {
  padding-left: 120px;
  position: relative;
  margin-bottom: 150px;
}

.footer-subtitle:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--common-white);
  display: inline-block;
  transform: translate(10px, -4px);
}

.footer-title {
  font-weight: 500;
  font-size: 103px;
  line-height: 1;
  color: var(--common-white);
  font-family: var(--text-Didone-right);
}

.footer-widget {
  padding-right: 70px;
}
.footer-widget-top {
  padding-bottom: 40px;
}
.footer-menu ul li {
  display: inline-block;
  list-style-type: none;
  padding-left: 50px;
}

.footer-menu ul li a {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #e7ecff;
  position: relative;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: var(--common-white);
}
.footer-menu ul li a:hover:after {
  width: 100%;
}

.footer-menu ul li a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: var(--common-white);
  transition: all 0.3s ease-out;
}

.footer-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: rgba(231, 236, 255, 0.4);
  margin-bottom: 0;
}

.footer-link a img {
  animation: animationglob 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
}

.footer-link a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--common-white);
  font-size: 20px;
}
.footer-link a span svg {
  transition: all 0.4s;
}
.footer-link a:hover span svg:first-child {
  transform: translate(20px, -20px);
}
.copyright-border-top {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

.copyright-left p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(231, 236, 255, 0.8);
}
.copyright-social ul {
  margin-bottom: 0px;
}

.copyright-social ul li {
  display: inline-block;
  margin: 0 -2px;
}
.copyright-social ul li a {
  font-weight: 500;
  font-size: 16px;
  color: rgba(231, 236, 255, 0.6);
  padding: 0 35px;
  height: 70px;
  line-height: 73px;
  display: inline-block;
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.copyright-social ul li:hover a {
  background-color: rgba(231, 236, 255, 0.1);
  border-left: 1px solid rgba(231, 236, 255, 0.1);
  color: var(--common-white);
}
.copyright-social ul li a svg {
  margin-right: 12px;
}

@keyframes animationglob {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-area.header-sticky-cloned.header-ptlr {
  padding: 15px 85px;
}

.header-sticky-cloned {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  visibility: hidden;
  background: hsla(0, 0%, 100%, 0.7);
  box-shadow: 0 1px 3px 0 rgba(23, 23, 24, 0.12),
    0 -1px 0 0 rgba(36, 62, 21, 0.14);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  /* transform: translateY(-100%); */
  /* -webkit-backdrop-filter: blur(14px); */
  backdrop-filter: blur(14px);
  /* background: rgba(25, 33, 68, .8); */
  transition: transform 0.4s ease, visibility 0.2s ease;

  /* box-shadow: 0 2px 6px 0 rgba(5, 10, 30, .4), 0 1px 0 0 hsla(0, 0%, 100%, .2); */
}
.header-pinned {
  transform: translateY(0);
  visibility: visible;
}

/* offcanva css  */
.offcanvas-body {
  padding: 0px !important;
  overflow: hidden !important;
}

.offcanvas-header {
  /* position: relative; */
  padding-top: 60px !important;
  padding-right: 103px !important;
  justify-content: space-between !important;
}

.offcanvas-title {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
  display: inline-block;
  text-align: right;
  color: hsla(0, 0%, 100%, 0.5);
  transform: translateX(65px);
  opacity: 0;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.offcanvas-title:hover {
  transform: translateX(0px);
  opacity: 1;
}

.btn-close:focus {
  box-shadow: none !important;
}

.offcanvas.offcanvas-start {
  width: 100% !important;
}

.offcanvas-left {
  height: 100vh;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
  padding-bottom: 50px;
  transition: all 0.3s ease-out;
}

.offcanvas-left,
.offcanvas-right {
  /* visibility: hidden; */
  /* opacity: 0; */
  transition-delay: 1.2s;
}
.offcanvas-left {
  background-color: #f2f5fb;
}

.main-menu-mobile {
  padding-top: 70px;
  padding-left: 90px;
  padding-right: 130px;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100%;
  padding-bottom: 50px;
}
.counter-row {
  counter-reset: count;
}
.offcanvas__logo {
  padding-left: 110px;
  padding-top: 35px;
}

.main-menu-mobile > nav > ul > li > a {
  display: block;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  color: hsla(0, 0%, 100%, 0.95);
  font-family: var(--text-Didone-right);
  position: relative;
  padding: 17px 20px 17px 35px;
  text-decoration: none;
}
.main-menu-mobile > nav > ul > li > a:after {
  font-size: 14px;
  content: "0" counter(count);
  counter-increment: count;
  color: #fff;
  font-weight: 400;
  position: absolute;
  left: 0;
  bottom: 35px;
  transform: rotate(270deg);
}
.main-menu-mobile > nav > ul {
  display: block;
  box-shadow: none;
}
.main-menu-mobile * li,
.main-menu-mobile * ul {
  transition: none !important;
  border-bottom: none;
}
.main-menu-mobile > nav > ul > li > a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.12);
  transition: all 0.3s ease-out;
  transition-delay: 0.5s;
}
a {
  transition: all 0.3s ease-out;
}

.main-menu-mobile > nav > ul > li {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu-hover-active > nav > ul > li.active > a {
  color: var(--common-black);
}
.menu-hover-active > nav > ul > li > a:hover {
  color: #dbdbe5;
}
.menu-hover-active > nav > ul > li.active > a:after {
  color: var(--common-black);
}
.menu-hover-active > nav > ul > li > a:after {
  color: rgba(0, 0, 0, 0.2);
}
.menu-hover-active > nav > ul > li.active > a:after {
  color: var(--common-black);
}

.offcanvas-right {
  height: 100vh;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
  transition: all 0.3s ease-out;
}
.offcanvas-right-ptl {
  padding: 100px;
}

.offcanvas-right-info {
  text-align: right;
  padding-top: 60px;
}

.offcanvas-shape {
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
}

.offcanvas-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.offcanvas-mail a,
.offcanvas-tel a,
.offcanvas-text p {
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.04em;
  color: var(--common-black);
  font-family: var(--text-Didone-right);
  text-decoration: none;
}

.offcanvas-social-link {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.offcanvas-social-link {
  transition: all 1s ease-in-out;
}
.offcanvas-social-link ul li:not(:last-child) {
  margin-bottom: 10px;
}
.offcanvas-social-link ul li {
  list-style: none;
}
.offcanvas-social-link ul li a {
  display: inline-block;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.3;
  color: var(--common-black);
  font-family: var(--text-Didone-right);
  position: relative;
  padding-left: 16px;
  text-decoration: none;
}

.offcanvas-social-link ul li a:before {
  position: absolute;
  content: "";
  left: 16px;
  bottom: 3px;
  width: 0;
  height: 1px;
  background-color: var(--common-black);
  transition: all 0.3s ease-out;
}

.offcanvas-social-link ul li a:hover:before {
  width: calc(100% - 16px);
}

.offcanvas-social-link ul li a:after {
  position: absolute;
  content: "";
  left: 0;
  top: 47%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--common-black);
}

@media (max-width:991px) {
  .service-right-wrap {
    padding-left:20px;
}
.offcanvas__logo {
  padding-left: 110px;
  padding-top: 10px;
  padding-bottom: 18px;
}
} 

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header__title {
      font-size: 155px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header__title{
      font-size: 115px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__title {
      font-size: 110px;
  }
  .header__title span {
    height: 100px;
}
.section-title {
  font-size: 50px;
}
}
@media (max-width: 767px) {
  .header__title {
      font-size: 72px;
  }
  .homebtn-box p {
    font-size: 16px;
    margin-left: 0;
}
.homebtn-box a {
  margin-right: 0;
  margin-bottom: 30px;
}

.service-circle-img {
  right: 30px;
}
.header__title span {
  height: 70px;
}
.section-title {
  font-size: 40px;
}
.footer-subtitle {
  top: -40px;
}
.footer-title {
  font-size: 60px;
}
.footer-widget {
  padding-right: 0;
}
.footer-widget-top {
  flex-wrap: wrap;
}
.footer-text p {
  font-size: 15px;
  margin-bottom: 40px;
}

.footer-menu ul li {
  padding-left: 0;
  padding-right: 20px;
}
}




