@import "../../../styles/mixins";

.grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  // height: 100%;
}

.grid-item {
  height: auto;
  min-height: fit-content;
  max-height: fit-content;
  place-content: center;
}

// Helper classes for each column span
@for $i from 1 through 12 {

  @include respond-to('phone') {
    .xs-#{$i} { grid-column: span #{$i}; }
  }

  @include respond-to('small_tablet') {
    .sm-#{$i} { grid-column: span #{$i}; }
  }

  @include respond-to('large_tablet') {
    .md-#{$i} { grid-column: span #{$i}; }
  }

  @include respond-to('desktop') {
    .lg-#{$i} { grid-column: span #{$i}; }
  }

  @include respond-to('desktop_large') {
    .xlg-#{$i} {
      grid-column: span #{$i};
    }  
  }
  @include respond-to('extra_large_desktop') {
    .xlg-#{$i} {
      grid-column: span #{$i};
    }  
  }
}