@import "../../../styles/variables";
@import "../../../styles/animations";
@import "../../../styles/global.scss";

.services-area {
  background-color: #f6f9ff;
}
.service-ptb {
  padding-top: 175px;
  padding-bottom: 140px;
}
.fix {
  overflow: hidden;
}

.services-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
  mix-blend-mode: color-burn;
}
.services-shape-1 img {
  opacity: 0.5;
}
.btn-border-sm {
  height: 50px;
  line-height: 48px;
  border-radius: 100px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  overflow: hidden;
  letter-spacing: -0.01em;
  color: $white;
  font-family: $dm-font-family;
  border: 1.5px solid hsla(0, 0%, 100%, 0.1);
  transition: 0.3s;
  text-decoration: none;
}

.servicebtn-box .btn-border-sm {
  color: $white;
  background-color: $black;
  border: 1.5px solid hsla(0, 0%, 100%, 0.1);
}
.btn-border-sm span {
  margin-left: 15px;
  transform: translateY(-2px);
  display: inline-block;
}
.service__title {
  font-weight: 500;
  font-size: 168px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: $black;
  font-family: $dr-font-family;
  margin-bottom: 40px;
}

.service__text {
  position: absolute;
  top: 43%;
  right: -15%;
  transform: rotate(-90deg);
}
.service__text span {
  font-family: $dr-font-family;
  font-weight: 500;
  font-size: 126px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #eceff5;
  mix-blend-mode: luminosity;
}

.service-signature {
  position: absolute;
  bottom: 45px;
  left: 69px;
}
.servicecircle-img {
  position: absolute;
  bottom: -50px;
  right: -60px;
  border: 10px solid #f6f9ff;
  border-radius: 50%;
  animation: circle-img 10s linear infinite;
}
.servicecircle-img img {
  filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
    brightness(105%) contrast(100%);
}

.service-right-box {
  animation: leftToRight 0.9s ease;
}

.service-img img {
  border-radius: 20px;
}
.service-info-area {
  background-color: #f6f9ff;
}

.service-info-text > div > a {
  position: relative;
  display: inline-block;
  z-index: 11;
  color: $black;
}

.service-info-text > div {
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: $black;
  font-family: $dr-font-family;
  padding-right: 130px;
}

.service-info-text span.line {
  height: 2px;
  width: 100px;
  background-color: $black;
  display: inline-block;
  margin: 0 10px;
  transform: translateY(-10px);
}
.service-info-text > div > a:hover .service-hover-bg {
  opacity: 1;
}
.service-info-text > div > a .service-hover-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 280px;
  height: 180px;
  opacity: 0;
  margin: -100px 0 0 -100px;
  overflow: hidden;
  pointer-events: none;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.service-info-text > div > a:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $black;
}
.personal-info-left {
  position: sticky;
  top: 0;
  height: 600px;
}

.services-capsule-wrapper {
  position: relative;
  overflow: hidden;
  height: 630px;
  pointer-events: none;
  margin-right: 30px;
}

.personal-info-left-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: $black;
  font-family: $dr-font-family;
  margin-bottom: 15px;
}
.personal-info-left-title svg {
  transform: translateY(-5px);
  margin-right: 10px;
  color: $black;
  font-size: 2rem;
}
.personal-info-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5c5e64;
  margin-bottom: 30px;
}
.personal-info-left a {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #5c5e64;
  margin-bottom: 20px;
}

.personal-info-right-title {
  color: $black;
  font-weight: 500;
  font-size: 34px;
  line-height: 30px;
  font-family: $dr-font-family;
  margin-bottom: 5px;
}

.personal-info-right-title svg {
  transform: translateY(-5px) rotate(180deg);
  color: $black;
  font-size: 2rem;
  margin-right: 10px;
}

.progress-bar-item {
  padding: 25px 0 5px;
}

.progress-bar-item label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $black;
  margin-bottom: 12px;
  display: inline-block;
}
.progress-bar .progress {
  overflow: visible;
  border-radius: 3px;
  background: rgba(0, 19, 47, 0.1);
  height: 1px;
}

.progress-bar .progress-barr {
  background-color: $black;
  position: relative;
  overflow: visible;
  height: 3px;
  border-radius: 10px;
  top: -1px;
}
.progress,
.progress-barr {
  display: flex;
}

.progress-bar {
  flex-direction: column;
  justify-content: center;
  color: $white;
  text-align: center;
  transition: width 0.6s ease;
  overflow: visible;
}
.progress-bar .progress-barr span {
  position: absolute;
  right: 0;
  top: -15px;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $black;
}
.personal-info-exprience-box {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0, 19, 47, 0.1);
}
.personal-info-exprience-length {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6c6f79;
  margin-right: 95px;
}
.personal-info-exprience-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 20px;
  color: $black;
  font-family: $dr-font-family;
}
.personal-info-exprience-content span {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #6c6f79;
}
.funfact-area{
    background-color: #f6f9ff;
}

.funfact-plr {
    padding-left: 85px;
    padding-right: 85px;
}
.funfact-bg {
    height: 100%;
    width: calc(100% - 200px);
    top: 0;
    left: 100px;
    position: absolute;
    border-radius: 20px;
}
.funfact-bg-item {
    position: absolute;
    top: -35%;
    left: 0;
    width: 100%;
    height: 190%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.funfact-item.space-left-1 {
    padding-left: 100px;
}
.funfact-item{
    position: relative;
}

.funfact-number {
    margin-bottom: 25px;
}
.funfact-number span {
    height: 110px;
    width: 110px;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -.02em;
    text-transform: uppercase;
    background: hsla(0, 0%, 100%, .06);
    border: 1px solid hsla(0, 0%, 100%, .09);
    box-shadow: 0 20px 50px rgba(3, 3, 20, .4);
    backdrop-filter: blur(5.5px);
    border-radius: 20px;
    display: inline-block;
    line-height: 110px;
    color: $white;
    font-family: $dr-font-family;
}

.funfact-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 0;
    color: $white;
    font-family: $dr-font-family;
}