@import "../../../styles/variables";
@import "../../../styles/animations";
@import "../../../styles/global.scss";
@import '../../../styles/mixins';

.services-area {
  background-color: #f6f9ff;
  padding-top: 175px;
  padding-bottom: 140px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  .services-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
      brightness(105%) contrast(100%);
    mix-blend-mode: color-burn;
    img {
      opacity: 0.5;
    }
  }
  .service__title {
    font-weight: 500;
    font-size: 145px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: $black;
    font-family: $dr-font-family;
    margin-bottom: 40px;
    @include respond-to("desktop") {
      font-size: 100px;
    }
    @include respond-to("large_tablet") {
      font-size: 75px;
    }
    @include respond-to("small_tablet") {
      font-size: 50px;
    }
    @include respond-to("phone") {
      font-size:50px;
    }
    .btn-border-sm {
      height: 50px;
      line-height: 48px;
      border-radius: 100px;
      margin-top: 40px;
      padding: 0 30px;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      text-transform: capitalize;
      display: inline-block;
      overflow: hidden;
      letter-spacing: -0.01em;
      color: $white;
      font-family: $dm-font-family;
      border: 1.5px solid hsla(0, 0%, 100%, 0.1);
      transition: 0.3s;
      text-decoration: none;
      background-color: $black;
      span {
        // margin-left: 15px;
        // transform: translateY(-2px);
        display: inline-block;
      }
    }
  }
  .service-right-box {
    position: relative;
    animation: leftToRight 0.9s ease;
    .service-signature {
      position: absolute;
      bottom: 70px;
      left: -69px;
      @include respond-to("phone") {
        left: 0px;
      }
    }
    .servicecircle-img {
      position: absolute;
      bottom: -35px;
      right: -40px;
      border: 10px solid #f6f9ff;
      border-radius: 50%;
      animation: circle-img 10s linear infinite;
      @include respond-to("phone") {
        right: -19px;
      }

      img {
        filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
          brightness(105%) contrast(100%);
      }
    }
    .service-img img {
      border-radius: 20px;
    }
  }
}

.service__text {
  position: absolute;
  top: 43%;
  right: -15%;
  transform: rotate(-90deg);
  span {
    font-family: $dr-font-family;
    font-weight: 500;
    font-size: 126px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #eceff5;
    mix-blend-mode: luminosity;
  }
}

.service-info-area {
  background-color: #f6f9ff;
  padding-bottom: 80px;
  .service-info-text div {
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: $black;
    font-family: $dr-font-family;
    padding-right: 130px;
    @include respond-to("desktop") {
      font-size: 50px;
      padding-right: 0px;
    }
    @include respond-to("large_tablet") {
      font-size: 40px;
      padding-right: 0px;
    }
    @include respond-to("small_tablet") {
      font-size: 30px;
      padding-right: 0px;
      line-height: 45px;
    }
    @include respond-to("phone") {
      font-size:30px;
      padding-right: 0px;
      line-height: 45px;
    }
    span.line {
      height: 2px;
      width: 100px;
      background-color: $black;
      display: inline-block;
      margin: 0 10px;
      transform: translateY(-10px);
    }
    a {
      position: relative;
      display: inline-block;
      z-index: 11;
      color: $black;
      margin-right: 15px;
      .service-hover-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 280px;
        height: 180px;
        opacity: 0;
        margin: -100px 0 0 -100px;
        overflow: hidden;
        pointer-events: none;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity 0.3s,
          transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      &:hover .service-hover-bg {
        opacity: 1;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $black;
      }
    }
  }
}

.personal-info-area {
  background-color: #f6f9ff;
  padding-bottom: 30px;
  .personal-info-left {
    position: sticky;
    top: 0;
    height: 400px !important;
    padding-top: 80px;
    place-content: start !important;
    @include respond-to("large_tablet") {
      position: relative;
    }
    @include respond-to("small_tablet") {
    position: relative;
    }
    @include respond-to("phone") {
      position: relative;
    }
    .personal-info-left-title {
      font-weight: 500;
      font-size: 40px;
      line-height: 30px;
      text-transform: uppercase;
      color: $black;
      font-family: $dr-font-family;
      margin-bottom: 15px;
      svg {
        transform: translateY(-5px);
        margin-right: 10px;
        color: $black;
        font-size: 2rem;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #5c5e64;
      margin-bottom: 30px;
    }
    a {
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      color: #5c5e64;
      margin-bottom: 20px;
    }
  }
  .personal-info-right-wrap {
    padding-top: 80px;
    .personal-info-skill {
      .personal-info-right-title {
        color: $black;
        font-weight: 500;
        font-size: 34px;
        line-height: 30px;
        font-family: $dr-font-family;
        margin-bottom: 5px;
        svg {
          transform: translateY(-5px) rotate(180deg);
          color: $black;
          font-size: 2rem;
          margin-right: 10px;
        }
      }
      .progress-bar-item {
        padding: 25px 0 5px;
        label {
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          color: $black;
          margin-bottom: 12px;
          display: inline-block;
        }
        .progress-bar {
          flex-direction: column;
          justify-content: center;
          color: $white;
          text-align: center;
          transition: width 0.6s ease;
          overflow: visible;
          .progress {
            overflow: visible;
            border-radius: 3px;
            background: rgba(0, 19, 47, 0.1);
            height: 1px;
            .progress-barr {
              background-color: $black;
              position: relative;
              overflow: visible;
              height: 3px;
              border-radius: 10px;
              top: -1px;
              display: flex;
              span {
                position: absolute;
                right: 0;
                top: -15px;
                transform: translateY(-50%);
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                color: $black;
              }
            }
          }
        }
      }
    }
    .personal-info-experience,
    .personal-info-education {
      margin-bottom: 85px;
      .personal-info-right-title {
        color: $black;
        font-weight: 500;
        font-size: 34px;
        line-height: 30px;
        font-family: $dr-font-family;
        margin-bottom: 5px;
        svg {
          transform: translateY(-5px);
          color: $black;
          font-size: 2rem;
          margin-right: 10px;
        }
      }
      .personal-info-exprience-box {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid rgba(0, 19, 47, 0.1);
        .personal-info-exprience-length {
          font-weight: 400;
          font-size: 14px;
          line-height: 15px;
          text-transform: uppercase;
          color: #6c6f79;
          margin-right: 95px;
        }
        .personal-info-exprience-content {
          .personal-info-exprience-title {
            font-weight: 500;
            font-size: 26px;
            line-height: 26px;
            color: $black;
            font-family: $dr-font-family;
          }
          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: #6c6f79;
          }
        }
      }
    }
  }
}

.award-area {
  background-color: $background_bg;
  padding-top: 120px;
  .award-wrapper{
    place-content: flex-start !important;
    padding-bottom: 30px;
    .award-section-title {
      font-family: $dr-font-family;
      font-weight: 500;
      font-size: 70px;
      line-height: 1;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 15px;
    }
    .award-text-wrapper {
      transform: translateY(40px);
      .award-text-outline {
        -webkit-text-stroke-color: hsla(0, 0%, 7%, 0.12);
        // -moz-text-stroke-color: hsla(0, 0%, 7%, .12);
        mix-blend-mode: luminosity;
        font-size: 130px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        color: transparent;
        font-family: $arbil-font-family;
        line-height: 1.14;
        font-weight: 600;
        transform: rotate(-45deg);
      }
      .award-text-fill {
        font-weight: 600;
        font-size: 160px;
        line-height: 0.89;
        color: $black;
        font-family: $arbil-font-family;
        mix-blend-mode: luminosity;
        transform: rotate(-45deg) translate(-50px, -37px);
      }
      .award-shape-1 {
        position: absolute;
        bottom: -14%;
        right: 10%;
        filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
          brightness(105%) contrast(100%);
      }
    }
  }
  .award-item-wrapper {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 70px;
    // place-content: flex-start !important;
    .award-item {
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 30px;
      transition: all 0.3s ease-out;
      .award-arrow {
        position: absolute;
        top: 35px;
        left: 0;
        transform: translateY(-50%);
        color: $white;
        visibility: hidden;
        opacity: 0;
        svg {
          transform: translateY(-2px);
        }
      }
      .award-content {
        .award-title {
          font-weight: 500;
          font-size: 30px;
          line-height: 1;
          font-family: $dr-font-family;
          color: $black;
        }
        p {
          font-size: 13px;
          font-weight: 500;
          color: rgba(37, 37, 37, 0.6);
          margin-bottom: 15px;
          line-height: 26px;
          font-family: $dm-font-family;
        }
      }
      .award-btn {
        background-color: $black;
        width: 44px;
        height: 44px;
        line-height: 44px;
        border-radius: 50%;
        text-align: center;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        span {
          width: 16px;
          height: 16px;
          overflow: hidden;
          position: relative;
        }
        svg {
          transform: translateY(-2px);
          position: absolute;
          bottom: -4px;
          left: -4px;
          transition: all 0.2s ease-out;
          &:last-child {
            left: -17px;
            bottom: -17px;
            transform: translate(0);
            opacity: 0;
          }
        }
      }
      &:hover {
        padding-left: 36px;
        z-index: 1;
        .award-btn span svg:first-child {
          transform: translate(16px, -16px);
        }
        .award-btn span svg:last-child {
          opacity: 1;
          visibility: visible;
          transform: translate(13px, -13px);
        }
        .award-arrow {
          color: $black;
          visibility: visible;
          opacity: 1;
        }
        .hover-reveal-bg {
          opacity: 1;
        }
        &:after {
          opacity: 1;
          width: 100%;
        }
      }
      :after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        background-color: $white;
        height: 1px;
        z-index: -1;
        opacity: 0;
      }
      .hover-reveal-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 210px;
        height: 295px;
        opacity: 0;
        border-radius: 10px;
        pointer-events: none;
        background-size: cover;
      }
      .award-inner-border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        border: 1px solid rgba(37, 37, 37, 0.08);
        transition: 0.3s;
      }
    }
  }
}
