@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.about_text {
  background-color: #f6f9ff;
  padding-bottom: 80px;

  &_grid {
    padding: 0 9rem;

    @include respond-to("desktop"){
      padding: 0 4rem;
    }

    @include respond-to("large_tablet"){
      padding: 0;
    }
    
    @include respond-to("small_tablet"){
      padding: 0;
    }
    
    @include respond-to("phone"){
      padding: 0;
    }

    &-col-1 {
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -0.01em;
      color: $black;
      font-family: $primary-fonts;
      padding-right: 130px;
      @include respond-to("desktop") {
        font-size: 35px;
        padding-right: 0px;
      }
      @include respond-to("large_tablet") {
        font-size: 35px;
        padding: 0 5rem;
      }
      @include respond-to("small_tablet") {
        font-size: 30px;
        padding: 0 3rem;
        line-height: 45px;
      }
      @include respond-to("phone") {
        font-size: 30px;
        padding: 0 2rem;
        line-height: 45px;
      }
      // span.line {
      //   height: 2px;
      //   width: 100px;
      //   background-color: $black;
      //   display: inline-block;
      //   margin: 0 10px;
      //   transform: translateY(-10px);
      // }
    }
  }
}