@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";

.inner-service-category {
 padding: 0px;
  border-bottom: 1px solid rgba(2, 11, 24, 0.1);
  transition: 0.3s;
  a {
    padding: 25px 25px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inner-service-category-content span {
      font-weight: 500;
      font-size: 24px;
      line-height: 0px;
      letter-spacing: 0.02em;
      color: $black;
      font-family: $dr-font-family;
      @include respond-to("phone") {
        font-size: 20px;
      }
      @include respond-to("small_phone") {
        font-size: 20px;
      }
      svg {
        margin-right: 13px;
      }
    }
    .inner-service-category-link span {
      color: $black;
    }
    &:hover {
      padding: 25px 25px 20px;
      background: rgba(2, 11, 24, 0.04);
    }
  }
}
