@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";


.personal-info {
  width: 100%;

  @include respond-to("desktop"){
    width: 70%;
  }

  @include respond-to("desktop_large"){
    width: 60%;
  }

  &-skill {
    &.mb {
      margin-bottom: 85px;
    }
  }

  &-experience,
  &-education {

    &.mb {
      margin-bottom: 85px;
    }
  }

  .section-box {
    h4 {
      color: $background_bg;
      font-size: 40px;
      background-color: $background_bg;
      letter-spacing: 1px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
}