@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.price_container {
  &.section {
    text-align: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .section_content {
    padding: 0.5rem 0;
    padding-bottom: 3rem;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
    color: $black;
    font-family: $primary-fonts;
    margin-bottom: 0;
  }

  &_grid {
    padding: 50px 70px 70px;
    gap: 0;
    width: 100%;
    @include respond-to("extra_large_desktop") {
      max-width: 1320px;
    }
    @include respond-to("small_phone") {
      // padding: 50px 15px 70px;
    }
    
    &_plan_item {
      position: relative;
      margin-bottom: 20px;

      &:not(:last-child) {
        border-right: 1px solid  rgba(2, 11, 24, 0.12);
      }


      &_head {
        text-align: center;
        margin-bottom: 100px;
        h4 {
          font-weight: 500;
          font-size: 34px;
          line-height: 40px;
          letter-spacing: -0.02em;
          color: $black;
          font-family: $primary-fonts;
        }
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 10px;
          color: hsla(0, 0%, 7%, 0.6);
        }
      }

      &_content {
        text-align: center;
        margin-bottom: 25px;

        span {
          font-weight: 500;
          font-size: 14px;
          color: hsla(0, 0%, 7%, 0.6);
          margin-bottom: 18px;
          display: inline-block;
        }

        h4 {
          font-weight: 500;
          font-size: 34px;
          line-height: 20px;
          letter-spacing: -0.02em;
          color: $black;
          font-family: $primary-fonts;
        }

        .price-text {
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: -0.02em;
          color: hsla(0, 0%, 7%, 0.6);
          font-family: $dm-font-family;
          width: 120px;
          display: inline-block;
        }
      }

      &_btn {
        text-align: center;

        .price-btn {
          text-decoration: none;
          background-color: $black;
          color: $white;
          height: 50px;
          line-height: 50px;
          font-size: 16px;
          font-weight: 700;
          text-align: center;
          text-transform: capitalize;
          display: inline-block;
          overflow: hidden;
          border-radius: 100px;
          padding: 0 80px;
          font-family: $dm-font-family;
          
          div {
            line-height: 1;
            display: inline-block;
            overflow: hidden;
            transform: translateY(7px);
            height: 22px;
            span {
              display: block;
              transition: transform 0.2s ease-out;
              text-shadow: 0 22px 0 $white;
            }
          }
          
          &:hover div span {
            transform: translateY(-122%);
          }
        }
      }
    }
  }
}
