@import "../../../../../styles/mixins";
@import "../../../../../styles/animations";
@import "../../../../../styles/variables";

.skills_container {
  background-color: #f6f9ff;
  padding-bottom: 30px;

  &_grid {
    padding: 4rem 9rem;
    padding-bottom: 2rem;

    @include respond-to("desktop"){
      padding: 0 4rem;
    }

    @include respond-to("large_tablet"){
      padding: 0 4rem;
    }
    
    @include respond-to("small_tablet"){
      padding: 0 3rem;
    }
    
    @include respond-to("phone"){
      padding: 0 2rem;
    }

    &-col-1 {
      position: relative;
      height: 400px !important;
      padding-top: 80px;
      place-content: start !important;

      @include respond-to("large_tablet") {
        position: relative;
      }

      @include respond-to("small_tablet") {
        position: relative;
        height: 245px !important;
      }

      @include respond-to("phone") {
        position: relative;
        height: 245px !important;
      }

      .box {
        .section_boxes_title {
          margin-bottom: 1rem;
          font-weight: 500;
          font-size: 40px;
          line-height: 30px;
          text-transform: uppercase;
          color: $black;
          font-family: $primary-fonts;
          margin-bottom: 20px;
          
          h4 {
            font-size: 40px;
          }
        }

        &_icon {
          margin-right: 1rem;
          color: $black;
          font-size: 12rem;
        }

        &_content {
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #5c5e64;
            margin-bottom: 20px;
            font-family: $dm-font-family;
          }

          .link {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            // line-height: 1;
            color: #5c5e64;
            margin-bottom: 20px;
            gap: 0.5rem;

            span {
              transform: translateY(4px);
            }
          }
        }
      }
    }

    &-col-2 {
      width: 100%;
      margin-left: auto;
      padding-top: 80px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 4rem;
      // border: 1px solid red;
    }
  }
}