@import "../../../styles/variables";
@import "../../../styles/animations";

.contact-area {
  background-color: $background_bg;
  padding-top: 230px;
  // padding-bottom: 120px;
  position: relative;
  .contact-subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    color: $black;
    font-family: $dr-font-family;
    padding-bottom: 10px;
    display: inline-block;
    &:after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background-color: $black;
      margin-left: 10px;
    }
  }
  .contact-area_wrapper{
    padding-top: 40px;
  padding-bottom: 150px;
 
  .contact-title {
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--tp-common-white);
    font-family: var(--tp-ff-didoneright);
    .animated-letter {
      position: relative;
      display: inline-block;
      animation: slideRightToLeft 1s ease forwards;
      opacity: 0;
      animation-fill-mode: forwards; /* Keeps the last frame of the animation */
    }
   .contact-img {
      border-radius: 100px;
      transform: translateY(-9px);
    }
  }
  .contactShape{
   display: none;
   text-align: end;
    .contactshape1 {
      margin-right: -100px;
      position: relative;
      top: 0;
      right: 0;
      text-align:end;
      display: inline-block;
      filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
        brightness(105%) contrast(100%);
      animation: rotate_img 10s linear infinite;
      .flower-img {
        position: absolute;
        top: 51%;
        left: 52%;
        transform: translate(-50%, -50%);
        animation: rotate_img 10s linear infinite;
      }
    }
  }
  .contact-mail-box {
    .contact-mail-info {
      span {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        color: rgba(2, 11, 24, 0.4);
        margin-bottom: 15px;
      }
      a {
        font-weight: 500;
        font-size: 36px;
        line-height: 18px;
        background: linear-gradient(
          90deg,
          #a248ed,
          #ff5075 44.98%,
          #ffa14d 97.77%
        );
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: $dr-font-family;
        position: relative;
        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 2px;
          content: "";
          background: linear-gradient(
            90deg,
            #a248ed,
            #ff5075 44.98%,
            #ffa14d 97.77%
          );
          z-index: 99;
          transition: 0.4s;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #56585f;
      margin-bottom: 0;
      padding-left: 30px;
    }
  }
}
}

.contact-mail-box {
  .contact-mail-info {
    span {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      color: rgba(2, 11, 24, 0.4);
      margin-bottom: 15px;
    }
    a {
      font-weight: 500;
      font-size: 36px;
      line-height: 18px;
      background: linear-gradient(
        90deg,
        #a248ed,
        #ff5075 44.98%,
        #ffa14d 97.77%
      );
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: $dr-font-family;
      position: relative;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 2px;
        content: "";
        background: linear-gradient(
          90deg,
          #a248ed,
          #ff5075 44.98%,
          #ffa14d 97.77%
        );
        z-index: 99;
        transition: 0.4s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #b7b7c5;
    margin-bottom: 0;
    padding-left: 30px;
  }
}

.contact-inner-form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  color: $black;
  font-family: $dr-font-family;
  margin-bottom: 30px;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  width: 100%;
  height: 90px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  color: $black;
  border: 1px solid #d9dee9;
  padding: 23px 30px 0;
  border-radius: 24px;
  background-color: transparent;
  transition: 0.3s;
}

.form-control:focus {
  color: $black;
  border: 1px solid #d9dee9;
  box-shadow: 0 0.5px 2px 0 rgba(5, 14, 30, 0.06);
}

.form-floating > label {
  position: absolute;
  left: 25px;
  top: 10%;
  font-size: 22px;
  z-index: 2;
  height: 100%;
  color: #8d92a7;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  background-color: transparent;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  position: absolute;
  top: 22px;
  left: 25px;
  font-size: 15px;
  inset: 0;
  z-index: -1;
  height: 1.5em;
  content: "";
  color: #8d92a7;
  background-color: transparent;
  border-radius: var(--bs-border-radius);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.85) translateY(-2rem) translateX(0.01rem);
  font-size: 15px;
  top: 22px;
  left: 25px;
  font-weight: 500;
  color: #8d92a7;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  background-color: transparent;
  top: 22px;
  left: 25px;
  font-size: 15px;
  font-weight: 500;
  color: #8d92a7;
}