@import "../../../styles/variables";
@import "../../../styles/mixins";

.inner-slider-area {
  background-color: #f6f9ff;
  padding: 0 85px;
  @include respond-to("desktop") {
    padding: 140px 20px;
  }
  @include respond-to("large_tablet") {
    padding: 140px 20px;
  }
  @include respond-to("small_tablet") {
    padding: 140px 20px;
  }
  @include respond-to("tablet") {
    padding: 140px 20px;
  }
  @include respond-to("phone") {
    padding: 140px 20px;
  }
  .inner-slider-content-main {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    @include respond-to("desktop") {
      justify-content: flex-start !important;
    }
    @include respond-to("large_tablet") {
      justify-content: flex-start !important;
    }
    @include respond-to("small_tablet") {
      justify-content: flex-start !important;
    }
    @include respond-to("tablet") {
      justify-content: flex-start !important;
    }
    @include respond-to("phone") {
      justify-content: flex-start !important;
    }

    .inner-slider-content-wrap {
      width: 520px;
      @include respond-to("small_tablet") {
        width: 380px;
      }
      @include respond-to("phone") {      
        width: 360px;
      }
      @include respond-to("small_phone") {      
        width: 300px;
      }
      .inner-slider-title {
        font-size: 100px;
        line-height: 1;
        letter-spacing: -0.01em;
        margin-bottom: 40px;
        font-weight: 600;
        color: $black;
        font-family: $dr-font-family;
        width: 550px;
        @include respond-to("desktop") {
          font-size: 60px;
          width: 460px;
        }
        @include respond-to("tablet") {
          font-size: 55px;
          width: 460px;
        }
        @include respond-to("large_tablet") {
          font-size: 55px;
          width: 460px;
        }
        @include respond-to("small_tablet") {
          font-size: 55px;
          width: 460px;
        }
        @include respond-to("phone") {
          font-size: 55px;
          width: 309px;
        }
        @include respond-to("small_phone") {
          font-size:40px;
          width: 280px;
        }
      }
      .inner-service-list {
        &.list-1 span {
          border-radius: 14px 14px 14px 0;
          background: rgba(2, 11, 24, 0.04);
          color: $black;
        }
        &.list-2 span {
          border-radius: 0 0 14px 0;
          background: rgba(2, 11, 24, 0.08);
        }
        &.list-3 span {
          border-radius: 0 0 14px 14px;
          background: rgba(2, 11, 24, 0.12);
        }
        span {
          border-radius: 14px 14px 14px 0;
          font-weight: 500;
          font-size: 20px;
          line-height: 1;
          letter-spacing: 0.01em;
          color: $black;
          font-family: $dr-font-family;
          display: inline-block;
          padding: 0 40px;
          height: 66px;
          line-height: 66px;
        }
      }
    }
  }
}

.inner-slider-main {
  margin-top: 200px;
  margin-bottom: 120px;
  position: relative;
  margin-left: 90px;
  @include respond-to("tablet") {
    margin-top: 100px;
    margin-left: 0px;
  }
  @include respond-to("large_tablet") {
    margin-top: 100px;
    margin-left: 0px;
  }
  @include respond-to("small_tablet") {
    margin-top: 100px;
    margin-left: 0px;
  }
  @include respond-to("phone") {
    margin-top: 100px;
    margin-left: 0px;
  }
  .inner-slider-active-1 .slick-list,
  .inner-slider-active-2 .slick-list {
    height: 650px !important;
    overflow: hidden;
    .slick-slide img {
      display: block;
      @include respond-to("large_tablet") {
        width: 100%;
      }
      @include respond-to("small_tablet") {
        width: 100%;
      }
      @include respond-to("phone") {
        width: 100%;
      }
    }
  }
  &:after {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient(
      180deg,
      #f6f9ff 1.05%,
      hsla(0, 0%, 85%, 0) 24.26%,
      hsla(0, 0%, 85%, 0) 68.54%,
      #f6f9ff 98.06%
    );
    .slick-slide img {
      @include respond-to("phone") {
        width: 100%;
      }
    }
  }
}

.inner-slider-active-1 .slick-slide,
.inner-slider-active-2 .slick-slide {
  margin-bottom: 20px;
}

.inner-slider-active-2,
.inner-slider-active-2 .slick-slide img {
  transform: rotate(180deg);
}
.inner-slider-active-2 {
  overflow: hidden;
}

.service-circle-img {
  position: absolute;
  top: 0;
  right: 315px;
  @include respond-to("large_tablet") {
    right: 30px;
  }
  @include respond-to("small_tablet") {
    right: 30px;
  }
  @include respond-to("phone") {
    right: 30px;
  }
  .text-img {
    display: inline-block;
    transform: translate(10px, -70px);

    img {
      filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
        brightness(105%) contrast(100%);
      animation: animationglob 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
    }
  }
  .shape {
    position: absolute;
    left: 0;
    top: -1px;
    left: -50%;
    z-index: -1;
    svg {
      color: #f6f9ff;
    }
  }
}

.service-area {
  background-color: $dark-bg;
  z-index: 1;
  padding-top: 135px;
  padding-bottom: 50px;
  position: relative;
  .service-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .service-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .service-shape-3 {
    position: absolute;
    top: 43%;
    left: 35%;
    z-index: -1;
  }
  .services-container_grid {
    .service-card {
      place-content: start !important;

      .stack_card {
        display: flex;
        justify-content: center;
        width: 100%;
        position: sticky;
        top: 100px;
        margin-bottom: 40px;
        @include respond-to("desktop") {
          justify-content: start;
        }
        @include respond-to("large_tablet") {
          justify-content: start;
        }
        @include respond-to("small_tablet") {
          justify-content: start;
        }
        @include respond-to("phone") {
          justify-content: start;
        }
        .service-title-box {
          span {
            font-size: 20px;
            padding-bottom: 10px;
            font-weight: 500;
            line-height: 1;
            color: $white;
            font-family: $dr-font-family;
            display: inline-block;
          }
          h3 {
            font-weight: 500;
            font-size: 80px;
            line-height: 1;
            letter-spacing: -0.02em;
            color: $white;
            font-family: $dr-font-family;
            margin-bottom: 25px;
            @include respond-to("desktop") {
              font-size: 60px;
            }
            @include respond-to("large_tablet") {
              font-size: 50px;
            }
            @include respond-to("small_tablet") {
              font-size: 40px;
            }
            @include respond-to("phone") {
              font-size: 40px;
            }
          }
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            width: 425px;
            color: hsla(0, 0%, 100%, 0.7);
            @include respond-to("small_tablet") {
              width: 220px;
            }
            @include respond-to("phone") {
              width: 250px;
            }
          }
        }
      }
    }
  }
}

.inner-info-area {
  background-color: #f6f9ff;
  padding-top: 120px;
  .inner-info-title-box {
    margin-bottom: 90px;
    margin-left: 70px;
    margin-right: 70px;
    @include respond-to("desktop") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("large_tablet") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("small_tablet") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("tablet") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    @include respond-to("phone") {
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
    }
    .inner-info-title {
      font-weight: 300;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.01em;
      color: $black;
      font-family: $dr-font-family;
      @include respond-to("large_tablet") {
        font-size: 29px;
        line-height: 40px;
      }
      @include respond-to("small_tablet") {
        font-size: 29px;
        line-height: 40px;
      }
      @include respond-to("tablet") {
        font-size: 29px;
        line-height: 40px;
      }
      @include respond-to("phone") {
        font-size: 29px;
        line-height: 40px;
      }
    }
  }
  .services-container_wrapper {
    justify-content: center;
    .testinominal-slide {
      margin: 0px 135px;
      @include respond-to("desktop") {
        margin: 0px 0px;
      }
      @include respond-to("large_tablet") {
        margin: 0px;
      }
      @include respond-to("small_tablet") {
        margin: 0px;
      }
      @include respond-to("tablet") {
        margin: 0px;
      }
      @include respond-to("phone") {
        margin: 0px;
      }
      .inner-info-service {
        place-content: flex-start !important;
        margin-bottom: 100px;
        @include respond-to("large_tablet") {
          margin-bottom: 0px;
        }
        @include respond-to("small_tablet") {
          margin-bottom: 0px;
        }
        @include respond-to("tablet") {
          margin-bottom: 0px;
        }
        @include respond-to("phone") {
          margin-bottom: 0px;
        }
        .inner-left-title {
          font-weight: 400;
          font-size: 15px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $black;
          font-family: $dm-font-family;
          margin-bottom: 0;
          // margin-top: 30px;
          // border-bottom: 2px solid rgba(37, 37, 37, 0.08);
          span {
            transform: translateY(-2px);
            color: $black;
          }
          svg {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.testimonial-area {
  background-color: #f6f9ff;
  padding-bottom: 100px;
  padding-top: 25px;
  .testimonial-slider {
    margin: 0px 70px;
    @include respond-to("desktop") {
      margin: 0px;
    }
    @include respond-to("large_tablet") {
      margin: 0px;
    }
    @include respond-to("small_tablet") {
      margin: 0px;
    }
    @include respond-to("tablet") {
      margin: 0px;
    }
    @include respond-to("phone") {
      margin: 0px;
    }
    .testimonial-item {
      position: relative;
      z-index: 1;
      border-radius: 10px;
      padding: 70px 210px 75px 70px;
      background-color: #f0f2e8;
      @include respond-to("large_tablet") {
        padding-right: 75px;
      }
      @include respond-to("large_tablet") {
        padding-right: 75px;
      }
      @include respond-to("small_tablet") {
        padding: 30px;
      }
      @include respond-to("tablet") {
        padding: 30px;
      }
      @include respond-to("phone") {
        padding: 30px;
      }
      .testimonial-quote {
        position: absolute;
        top: 75px;
        right: 60px;
        opacity: 0.2;
        z-index: -1;
        filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
          brightness(105%) contrast(100%);
      }
      .testimonial-item-top {
        margin-bottom: 20px;
        .testimonial-rating {
          margin-right: 8px;
          span svg {
            transform: translateY(3px);
            height: 17px;
            width: 17px;
          }
        }
        p {
          font-size: 14px;
          color: $black;
          margin-bottom: 0;
          line-height: 1;
          transform: translateY(1px);
          font-family: $dm-font-family;
        }
      }
      .testimonial-content p {
        font-weight: 400;
        font-size: 26px;
        line-height: 1.38;
        letter-spacing: -0.01em;
        color: $black;
        font-family: $dm-font-family;
        @include respond-to("large_tablet") {
          font-size: 18px;
        }
        @include respond-to("small_tablet") {
          font-size: 18px;
        }
        @include respond-to("tablet") {
          font-size: 18px;
        }
        @include respond-to("phone") {
          font-size: 18px;
        }
      }
    }
    .testimonial-user-item {
      padding: 38px 20px;
      transition: 0.4s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .testimonial-user-thumb {
        margin-right: 20px;
        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
      }
      .testimonial-user-content {
        h3 {
          font-weight: 700;
          font-size: 18px;
          color: $black;
          margin-bottom: 1px;
          line-height: 1;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 0;
          color: #8a8c90;
          a {
            color: $black;
            text-decoration: none;
          }
        }
      }
      .testimonial-user-border {
        border: 2px solid rgba(37, 37, 37, 0.08);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }
    }
  }
}

.inner-price-area {
  background-color: #f6f9ff;
  .inner-price-title-box {
    margin-bottom: 70px;
    text-align: center;
    .inner-section-title {
      font-weight: 500;
      font-size: 80px;
      line-height: 1;
      letter-spacing: -0.02em;
      color: $black;
      font-family: $dr-font-family;
      margin-bottom: 25px;
      @include respond-to("large_tablet") {
        font-size: 50px;
      }
      @include respond-to("small_tablet") {
        font-size: 50px;
      }
      @include respond-to("tablet") {
        font-size: 40px;
      }
      @include respond-to("phone") {
        font-size: 40px;
      }
    }
    p {
      font-weight: 300;
      font-size: 24px;
      line-height: 1;
      color: $black;
      font-family: $dr-font-family;
      margin-bottom: 0;
    }
  }
}

.price-item {
  position: relative;
  margin-bottom: 20px;
  .price-head {
    text-align: center;
    margin-bottom: 100px;
    h4 {
      font-weight: 500;
      font-size: 34px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: $black;
      font-family: $dr-font-family;
    }
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 10px;
      color: hsla(0, 0%, 7%, 0.6);
    }
  }
  .price-body {
    text-align: center;
    margin-bottom: 25px;
    span {
      font-weight: 500;
      font-size: 14px;
      color: hsla(0, 0%, 7%, 0.6);
      margin-bottom: 18px;
      display: inline-block;
    }
    h4 {
      font-weight: 500;
      font-size: 34px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: $black;
      font-family: $dr-font-family;
    }
    .price-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: hsla(0, 0%, 7%, 0.6);
      font-family: $dm-font-family;
      width: 120px;
      display: inline-block;
    }
  }
  &:after {
    position: absolute;
    top: 0;
    right: -12px;
    width: 1px;
    height: 100%;
    background-color: rgba(2, 11, 24, 0.12);
    mix-blend-mode: luminosity;
    content: "";
  }
}
