@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/mixins";

.testimonial-slider-container {
  padding: 0px 70px;
  @include respond-to("desktop") {
    padding: 0px;
  }
  @include respond-to("large_tablet") {
    padding: 0px;
  }
  @include respond-to("small_tablet") {
    padding: 0px;
  }
  @include respond-to("tablet") {
    padding: 0px;
  }
  @include respond-to("phone") {
    padding: 0px;
  }
  &_item {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 70px 210px 75px 70px;
    background-color: #f0f2e8;
    cursor: pointer;
    
    @include respond-to("large_tablet") {
      padding-right: 75px;
    }
    @include respond-to("large_tablet") {
      padding-right: 75px;
    }
    @include respond-to("small_tablet") {
      padding: 30px;
    }
    @include respond-to("tablet") {
      padding: 30px;
    }
    @include respond-to("phone") {
      padding: 30px;
    }

    .quote_img {
      position: absolute;
      top: 75px;
      right: 60px;
      opacity: 0.2;
      z-index: -1;
      filter: invert(100%) sepia(32%) saturate(304%) hue-rotate(200deg)
        brightness(105%) contrast(100%);
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .rating_text {
        margin-left: 0.7rem;
        font-size: 16px;
        color: #171718;
        font-weight: 400;
      }

      .text {
        font-size: 28px;
        font-family: $dm-font-family;
        line-height: 38px;
      }
    }

    &_user {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      margin-top: 3.5rem;

      .avatar_container {
        width: 65px;
        height: 65px;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }  
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4 {
          font-size: 20px;
          font-weight: 800;
        }

        p {
          color: #8a8c90;

          span {
            color: #171718;
            font-weight: 600;
          }
        }
      }
    }
  }

  .testimonial-user-item {
    padding: 38px 20px;
    transition: 0.4s;
    position: relative;
    display: flex !important;
    
    justify-content: center;
    align-items: center;
    .testimonial-user-thumb {
      margin-right: 20px;
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
    .testimonial-user-content {
      h3 {
        font-weight: 700;
        font-size: 18px;
        color: $black;
        margin-bottom: 1px;
        line-height: 1;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        color: #8a8c90;
        a {
          color: $black;
          text-decoration: none;
        }
      }
    }
    .testimonial-user-border {
      border: 2px solid rgba(37, 37, 37, 0.08);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
}