@import "../../../styles/variables";

.service-area {
  background-color: $dark-bg;
  z-index: 1;
  position: relative;
  .stack_card {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 100px;
  }
  .service-title-box {
    span {
      font-size: 20px;
      padding-bottom: 10px;
      font-weight: 500;
      line-height: 1;
      color: $white;
      font-family: $dr-font-family;
      display: inline-block;
    }
    h4 {
      font-weight: 500;
      font-size: 92px;
      line-height: 1;
      letter-spacing: -0.02em;
      color: $white;
      font-family: $dr-font-family;
      margin-bottom: 25px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      width: 425px;
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}